
  
  body {
    background-image: url('./Resource/imagenes/jj.webp');
    background-repeat:initial;
    background-size: cover;
    animation: animacion 20s linear infinite;
    height: 100%;
    width: 100%;
  }
  
  @keyframes animacion {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }


h1 {
  font-family: "Macondo", cursive;
  text-align: center;
  color: red;
  padding: 20px;
  text-shadow: 2px 2px 3px rgb(136, 99, 99);
}

p {
  color: white;
  padding: 20px;
}

section > ul {
  list-style: none;
}

section > ul > li > a {
  text-decoration: none;
  color: red;
}

/* PARTE CSS CONTACTO */

#contacto-container {
  display:block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5vh 5vw;
}
#contacto {
  max-width: 600px;
  margin: 0 auto;
  background-color: #cc4040;
  border-radius: 10px;
  padding: 60px;
}

#btn-newsletter {
  background-color: #008cba;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#newsletter-label {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

#newsletter-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
